 <footer class="main-footer">
     <div class="float-right d-none d-sm-block">
         <b>Version</b> 0.0.1
     </div>
     <strong>Copyright &copy; 2019 <a href="">drodriguez@tamps.cinvestav.mx, rsilva@tamps.cinvestav.mx</a>.</strong> All
     rights
     reserved.
 </footer>

 <!-- Control Sidebar -->
 <aside class="control-sidebar control-sidebar-dark">
     <!-- Control sidebar content goes here -->
 </aside>
 <!-- /.control-sidebar -->
 </div>
 <!-- ./wrapper -->

 <!-- jQuery -->
 <script src="{{url_for('static',filename='plugins/jquery/jquery.min.js')}}"></script>
 <!-- Bootstrap 4 -->
 <script src="{{url_for('static',filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
 <!-- AdminLTE App -->
 <script src="{{url_for('static',filename='web_libs/js/adminlte.min.js')}}"></script>
 <!-- AdminLTE for demo purposes -->
 <script src="{{url_for('static',filename='web_libs/js/demo.js')}}"></script>

 <script>
        $( document ).ready(function() {
            var x = document.getElementById("pc_range").value;
            document.getElementById("pc_val").innerHTML = x;

            var y = document.getElementById("pm_range").value;
            document.getElementById("pm_val").innerHTML = y;

           
        });

        function showVal1() {
          var x = document.getElementById("pc_range").value;
          document.getElementById("pc_val").innerHTML = x;
        }

        function showVal2() {
          var y = document.getElementById("pm_range").value;
          document.getElementById("pm_val").innerHTML = y;
        }

        function showFields(){
            var funcion=document.getElementById("sel_heuro").value;
            if(funcion == "EGA"){
                document.getElementById('individuos').disabled = false;
                document.getElementById('pc_range').disabled = false;
                document.getElementById('pm_range').disabled = false;              
            }
            else{
                document.getElementById('individuos').disabled = true;
                document.getElementById('pc_range').disabled = true;
                document.getElementById('pm_range').disabled = true;  
            }
        }

        function showPolinom(){
            var funcion=document.getElementById("sel_funcion").value;
            if(funcion=="especial"){
                document.getElementById('polinomio').disabled = false; 
            }
            else{
                document.getElementById('polinomio').disabled = true;
            }
        }
    </script>
 </body>

 </html>