{% include "head.html" %}
<body class="hold-transition sidebar-mini" style="background-color: rgb(52, 58, 64);">
      
    {% include "menu.html" %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Técnologias de programación</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Heuristicas</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <form action="{{ url_for('procesar') }}" method="post">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Heuristicas</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <label for="sel1">Heuristica:</label>
                            <select name="heuristica" class="form-control" id="sel_heuro" onchange="showFields();">
                                <option value="RMHC" selected>RMHC</option>
                                <option value="EGA">EGA</option>
                            </select>
                            <label for="sel1">Función:</label>
                            <select name="funcion" class="form-control" id="sel_funcion" onchange="showPolinom();">
                                <option value="hansen">Hansen</option>
                                <option value="dejongs_function">De Jong's</option>
                                <option value="axis_parallel">Axis parallel hyper-ellipsoid</option>
                                <option value="rosenbrock">Rosenbrock</option>
                                <option value="rastrigin">Rastrigin</option>
                                <option value="schwefel">Schwefel</option>
                                <option value="griewangks">Griewangks</option>
                                <option value="sum_of_different_power">Sum of different power function</option>
                                <option value="ackleys">Ackleys</option>
                                <option value="langermanns">Langermanns</option>
                                <option value="michalewiczs">Michalewiczs</option>
                                <option value="branins">Branins</option>
                                <option value="easoms">Easoms</option>
                                <option value="goldstein_prices">Goldstein prices</option>
                                <option value="six_hump_camel_back">Six Hump Camel Back</option>
                                <option value="drop_wave">Drop wave</option>
                                <option value="mccormick">McCormick</option>
                                <option value="rotated_he">Rotated_he</option>
                                <option value="especial">Otra función</option>
                            </select>
                            <label for="exp">N</label>
                            <input type="text" class="form-control" name="vars" id="vars" required>
                            <label for="exp">Expresión</label>
                            <input type="text" class="form-control" name="polinomio" id="polinomio" disabled>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exp">Iteraciones:</label>
                                <input type="number" class="form-control" name="iteraciones" id="" min="1" step="1" value="1" required>
                                <label for="exp">Parte Entera</label>
                                <input type="text" class="form-control" name="entero" id="entero" required>
                                <label for="exp">Parte decimal</label>
                                <input type="text" class="form-control" name="decimal" id="decimal" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="exp">Individuos:</label>
                                <input type="number" class="form-control" name="individuos" id="individuos" min="1" step="1" value="1" disabled>
                                Pc: <span id="pc_val"></span> 
                                <input type="range" name="pc" class="form-control" id="pc_range" min="0" max="1" step="0.1" onInput="showVal1()" disabled>
                                Pm: <span id="pm_val"></span>
                                <input type="range" name="pm" class="form-control" id="pm_range" min="0" max="1" step="0.1" onInput="showVal2()" disabled>
                                <!--<label for="exp">Expresión:</label>
                                <input type="text" class="form-control" name="expres" id="exp" disabled-->
                            </div>
 
                         </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-success">Procesar</button>      
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            </form>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
{% include "footer.html" %}