{% include "head.html" %}
<body class="hold-transition sidebar-mini" style="background-color: rgb(52, 58, 64);">
      
    {% include "menu.html" %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Técnologias de programación</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Heuristicas</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Resultado</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                            Heuristica: {{heuristica}}<br>
                            Funcion: {{funcion}}<br>
                            Iteraciones: {{iteraciones}}<br>
                        {% if "RMHC" in heuristica %}
                            BestFitnes: {{best}}<br>
                            Individuo:{{individuo}}<br>
                            Valores:{{valores}}
                        {% else %}
                            {% for item in best %}
                                {{loop.index}} - {{ item }}<br>
                            {%endfor %}
                        {% endif %}
                        </div>
                        <div class="col-3">
                            
                        </div>
                        <div class="col-3">
                            
                         </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <!--<button type="submit" class="btn btn-success">Procesar</button-->    
                    <a href="{{url_for('index')}}" class="btn btn-success">Regresar</a>  
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
           
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
{% include "footer.html" %}